@import url(typography.css);
body {
    margin: 0;
    top: 0;
    font-family: "Englebert", cursive;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}


.canvas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 16px;
    padding: 25px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card {
    width: 180px;
    height: 250px;
    perspective: 1000px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:15px;
    border: 1.5px solid #343434;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    line-height: 1.25;
    padding: 3px;
    background-color: white;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:15px;
    border: 1.5px solid #343434;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    line-height: 1.25;
    padding: 10px;
    background-color: white;
    transform: rotateY(180deg);
    background-color: #f9f9f9;
}

.title-card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:15px;
    border: 1.5px solid #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.25;
    background-color: white;
    align-items: flex-start;
    justify-content: end;
    text-align: left;

}
.title-card h1{
    padding-left: 20px;
}

.card-front .img_intro {
    max-width:100px ;
    padding: none;

}
.card-front img {
    max-width:150px ;
    padding: none;

}

.card-front p {
    margin: 5px 0;
    font-size: 8pt;
}

.card-back h2 {
    text-align: center;

}

.clue-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.clue-text {
    display: none;
    margin-top: 10px;
}

.zoom-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.zoom-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 30;
    transition: transform 0.3s, z-index 0s 0.3s; /* Delay z-index reset until after transform */
}

.zoom-side {
    pointer-events: auto; /* Enable interaction with the clicked side */
}

/* .zoom-card img {
    max-width: 200px;
    max-height: 240px;
} */

.clue-overlay {
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px;
    border: 1px solid #343434;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    z-index: 40;
    display: none;
}

.clue-overlay p {
    margin: 0;
    font-size: 14pt;
    line-height: 1.25;
}

.close-btn {
    margin-top: 10px;
    padding: 10px;
    background-color:#000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Englebert", cursive;
    font-size: 14pt;
}

.miro{
    height: 350px;
    width: 600px ;
    justify-content: center;
    align-self: center;
}

.page{
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 15px;
        background-color:white ;
}

.canvas-stage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.page-btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.input-box {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.input-box .p {
   text-align:left ;
}

.miro-board {
    width: 100%;
    height: 400px;
    border: none;
}

.textarea {
    width: 99%;
    height: 130px;
    resize: none;
    padding: none;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
